<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Danh sách các sự kiện</h2>
                    <p>(Bạn có thể đăng ký sự kiện chưa diễn ra)</p>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: left;">#</th>
                                <th scope="col" style="text-align: left;">Tên</th>
                                <th scope="col" style="text-align: left;">Từ ngày</th>
                                <th scope="col" style="text-align: left;">Đến ngày</th>
                                <th scope="col" style="text-align: left;">Mô tả</th>
                                <th scope="col" style="text-align: left;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listEvents; let i = index">
                                <td [ngClass]="{'bg-info':item.status==2}" scope="row" style="text-align: left;">{{i+1}}
                                </td>
                                <td [ngClass]="{'bg-info':item.status==2}">{{item.name}}</td>
                                <td [ngClass]="{'bg-info':item.status==2}">{{(item.from *1000) | date:'dd/MM/yyyy'}}
                                </td>
                                <td [ngClass]="{'bg-info':item.status==2}">{{(item.to *1000) | date:'dd/MM/yyyy'}}
                                </td>
                                <td [ngClass]="{'bg-info':item.status==2}">{{item.description}}</td>
                                <td [ngClass]="{'bg-info':item.status==2}">
                                    <label style="cursor: pointer; text-decoration: underline;" class="text-primary"
                                        (click)="register(item.id)"
                                        *ngIf="(item.status==1 || item.status==2) && !item.registered">
                                        <app-loading class="mr-1" [miniMode]="true" *ngIf="isRegLoading"></app-loading>
                                        Tham gia
                                    </label>
                                </td>
                            </tr>
                            <tr *ngIf="isLoading">
                                <td colspan="6" class="text-center">
                                    <app-loading class="mr-1" [miniMode]="true"></app-loading>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>