<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-header text-center">
                    Đăng nhập
                </div>
                <div class="card-body">
                    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="username">Tài khoản</label>
                            <input type="email" id="username" name="username" class="form-control" ngModel required />
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Mật khẩu</label>
                            <input type="password" id="password" name="password" class="form-control" ngModel
                                required />
                        </div>
                        <div class="input-row text-center text-danger pb-0" *ngIf="errorMessage">
                            {{ errorMessage}}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mb-4"
                            [disabled]="authForm.invalid && isLoading"><app-loading class="mr-1" [miniMode]="true"
                                *ngIf="isLoading"></app-loading> Đăng nhập</button>

                        <div class="text-center">
                            <p>Bạn chưa có tài khoản? <a href="/dang-ky">Đăng ký</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>