$font-size: 13px;
$font-size-12: 12px;
$box-shadow-color: rgba(163, 163, 163, 1);
$input-height: 30px;
$input-padding-left: 8px;
$input-padding-top: 0.375rem;
$bg-color: white;
$border-color: #ced4da;
$border-radius: 3px;